.textoall {
  display: inline-block;
  text-align: justify;
}

.tittle {
  font-size: 3.3rem;
}

.subtittle {
  font-size: 2rem;
}

.buttoncompra {
}

.fotoAntesDeepois {
  width: 24rem;
  padding: 1rem;
  height: auto;
  float: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
