.sobreall {
  font-size: 1.1rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.tittleSobre {
  vertical-align: center;
  display: flex;
  text-align: center;
}

.txtsobre {
  align-items: center;
  display: flex;
  text-align: justify;
}

.buttoncompra {
  width: 150px;
  height: 40px;
  align-items: baseline;
  text-align: center;
  position: relative;
  /* flex para alinhar conteúdo*/
  display: flex;
  justify-content: center;
  vertical-align: bottom;
}
